
 <!--SECTION EXPERIENCES-->

    <section id="section3" class="cd-section">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
               <div class="box-content">
                <h1>Experiences</h1>
                <div class="col-md-6">
                    <div class="box-text">
                            <h2>WHAT I KNOW</h2>
                            <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                            Prae sent non sem eu mi malesuada viverra volutpat ut libero. Nullam a venenatis tellus. 
                            Nam fen convallis tristique. In imperdiet est sed aliquet imperdiet. 
                            </p>
                            <p class="slogan">" Creativity requires the courage to let go of certainties "</p>
                            <img class="signature" src="images/signature.jpg" alt="" />
                        </div>
                </div>
                <div class="col-md-6">
                    <div class="skills-area triggerAnimation animated" data-animate="fadeInLeft">
                    
                        <div class="box-text">
                        <h2>MY Skills</h2>
                        <div class="skills-box">
                                <div class="skills-progress">
                                    <p>Develope<span>87%</span></p>
                                    <div class="meter nostrips develope">
                                        <p style="width: 87%"></p>
                                    </div>
                                    <p>Design<span>95%</span></p>
                                    <div class="meter nostrips design">
                                        <p style="width: 95%"></p>
                                    </div>
                                    <p>Branding<span>98%</span></p>
                                    <div class="meter nostrips branding">
                                        <p style="width: 98%"></p>
                                    </div>
                                    <p>Web applications<span>65%</span></p>
                                    <div class="meter nostrips web-applications">
                                        <p style="width: 65%"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
               <div class="col-md-12">
                <div class="box-content experiences">
                   <div class="col-md-12 list-experiences">
                        <h2><i class="fa fa-briefcase"></i>Front-End Developer<span class="data">2013 - 2015</span></h2>
                        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                                Prae sent non sem eu mi malesuada viverra volutpat ut libero. Nullam a venenatis tellus. 
                                Nam fen convallis tristique. In imperdiet est sed aliquet imperdiet. </p>
                   </div>
                   <div class="col-md-12 list-experiences">
                        <h2><i class="fa fa-briefcase"></i>Web Developer<span class="data">2011 - 2013</span></h2>
                        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                                Prae sent non sem eu mi malesuada viverra volutpat ut libero. Nullam a venenatis tellus. 
                                Nam fen convallis tristique. In imperdiet est sed aliquet imperdiet. </p>
                   </div>
                   <div class="col-md-12 list-experiences">
                        <h2><i class="fa fa-briefcase"></i>Software Developer<span class="data">2008 - 2010</span></h2>
                        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                                Prae sent non sem eu mi malesuada viverra volutpat ut libero. Nullam a venenatis tellus. 
                                Nam fen convallis tristique. In imperdiet est sed aliquet imperdiet. </p>
                   </div>
                   <div class="col-md-12 list-experiences">
                        <h2><i class="fa fa-briefcase"></i>Software Developer<span class="data">2004 - 2008</span></h2>
                        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                                Prae sent non sem eu mi malesuada viverra volutpat ut libero. Nullam a venenatis tellus. 
                                Nam fen convallis tristique. In imperdiet est sed aliquet imperdiet. </p>
                   </div>
                 </div>
              </div>
         </div>
      </div>
    </section><!-- cd-section -->