
  <section id="section1" class="cd-section">
      <div class="container">
          <div class="row">
           <div class="col-md-12">
             <div class="box-content">
            <h1> WHO I AM </h1>
                <div class="col-md-4">
                    <div class="box-text">
                        <h2>HISTORY</h2>
                        <p>This is TESTING.</p>
                            <p>miniMe restore client-focused potentialities rather than functional strategic theme areas. </p>
                    </div>
                 </div>
                 <div class="col-md-4">
                    <div class="box-img">
                        <img src="images/office.jpg" alt="" />
                    </div>
                 </div>
                 <div class="col-md-4">
                    <div class="box-text">
                        <h2>Personal data</h2>
                        <p>Date of birth: 05/13/1992</p>
                        <p>Phone: 408-709-0169</p>
                        <p>E-mail: Srinivasreddy292@gmail.com</p>
                        <h2>Education</h2>
                        <p>California State University, East Bay</p>
                        <p>Masters in Computer Science</p>
                    </div>
                 </div>
             </div><!--close box content-->
      </div>
        </div><!--close row-->
      </div><!--close container-->
      <div class="parallax1">
        <div class="overlay">
            <div class="container">
              <div class="row">

               <div class="col-md-12">
                <div class="col-md-4">
                    <div class="box-img">
                        <img src="images/object.jpg" alt="" />
                    </div>
                 </div>
                 <div class="col-md-4">
                    <div class="box-text">
                        <h2>WHAT I DO</h2>
                        <p>Front End UI Developer</p>
                    </div>
                 </div>
                 <div class="col-md-4">
                    <div class="box-img">
                        <img src="images/object1.jpg" alt="" />
                    </div>
                 </div>
          </div>
          </div>
        </div>
       </div>
      </div>
  </section><!-- cd-section -->